/*
	@name event
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px;  overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }

#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(217,217,217,1);
}


#tallhouse_1 {
	top: 33px;
	left: 436px;
	width: 357px;
	height: 687px;
	animation-name: house;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
}
@keyframes house {
	from{}
	to{
		transfrom: scale(2,2);
	}
	
}


#bluemountright {
	top: 191px;
	left: 436px;
	width: 1492px;
	height: 586px;
	animation-name: blueright;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	
}
@keyframes blueright {
	from{
	
	}
	to{
	left: 550px;
	transform: scale(2,1);
	}
}


#bluemountleft_1 {
	top: 271px;
	left: -165px;
	width: 844px;
	height: 538px;
	animation-name: blueleft;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	
}
@keyframes blueleft {
	from{
	
	}
	to{
	left: -280px;
	transform: scale(2,1);
	}
}


#treethin_1 {
	top: 0px;
	left: 847px;
	width: 433px;
	height: 720px;
	animation-name: treeright;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	
}
@keyframes treeright {
	from{
	
	}
	to{
		top: -17px;
	left: 1500px;
	transform: scale(2,2);
	}
}


#treethin_2 {
	top: 0px;
	left: 0px;
	width: 436px;
	height: 725px;
	animation-name: treeleft;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	
}
@keyframes treeleft {
	from{
	
	}
	to{
		top: -17px;
	left: -100px;
	transform: scale(2,2);
	}
}


#bird2_1 {
	top: 102px;
	left: 847px;
	width: 141px;
	height: 109px;
}


#bird2_2 {
	top: 376px;
	left: 1019px;
	width: 141px;
	height: 109px;
}


#bird2_3 {
	top: 376px;
	left: 257px;
	width: 141px;
	height: 109px;
}


#cloud3_1 {
	top: -75px;
	left: 105px;
	width: 1375px;
	height: 946px;
	animation-name: cloudright;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;

}
@keyframes cloudright {
	from{}
	to{
		left:200px;
	}
	
}


#cloud3_2 {
	top: -75px;
	left: -40px;
	width: 1520px;
	height: 927px;
	animation-name: cloudleft;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;

}
@keyframes cloudleft {
	from{}
	to{
		left:-180px;
	}
	
}



/* Add your custom CSS here */
